/*============= Footer ===============*/
.footer {
    width: 100%;
    min-height: 50%;
    background-color: rgb(28, 28, 28);
  }
  
  .footer-row {
    display: flex;        /* Enables horizontal layout */
    justify-content: space-between; /* Evenly spaces out the boxes */
    align-items: top;  /* Aligns them vertically in the center */
    width: 90%;          /* Adjust as needed */
    padding: 20px;        /* Adds some space around */
  }
  
  .footer-text-block {
    text-align: left;
    min-width: 30%;
    max-width: 40%;
    margin-top: 10vh; 
    margin-bottom: 10vh; 
  }
  
  .footer-text-block p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: white; 
    font-family: Arial, sans-serif;
  }

  .footer-text-block h1 {
    color: white; 
    font-size: 1.3rem; 
    font-family: Arial, sans-serif;
  }