/*============= Header ===============*/

/* Logo styling */
.logo {
  position: absolute;
  top: 1vw;     /* Adjust distance from top */
  left: 7%;    /* Adjust distance from left */
  width: 10vw;  /* Adjust size */
  height: auto;  /* Maintain aspect ratio */
  z-index: 1;   /* Ensure it's above other content */
}

.header-bar {
    display: flex;        /* Enables horizontal layout */
    justify-content: space-between; /* Evenly spaces out the boxes */
    width: 100%;     /* Limits the maximum width */
    height: 6vw;
    margin: auto;         /* Centers the container */
    padding: 1vw;        /* Adds some space around */
    background-color: rgb(0, 0, 0) ; /* Dark background for contrast */
    margin-right: 0px;
    font-size: 2vw;
  }
  
  .header-bar-row {
    display: flex;        /* Enables horizontal layout */
    justify-content: space-between; /* Evenly spaces out the boxes */
    /*margin-left: 55%;*/
    width: 50%;     /* Limits the maximum width */
    height: 10vw;
    background-color: rgb(0, 0, 0) ; /* Dark background for contrast */
    margin-right: 2%;
  }
  

  
  .topbar {
    margin-right: 0px;
    padding: 1vw;
    display: flex;
    justify-content: right;
    z-index: 9;
  }

  .topbar p {
    color: white; 
    font-size: 3vh; 
    font-family: Arial, sans-serif;
    font-weight: lighter;
  }
  
  .topbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .topbar ul li {
    position: relative;
    margin: 0 1.5vw;
  }
  
  .topbar ul li a {
    color: white;
    text-decoration: none;
    padding: 0vw 1.5vw;
    display: block;
  }
  
  .topbar ul li a:hover {
    background: #444;
    border-radius: 5px;
  }
  
  
  /* Dropdown Menu */
  .dropdown-menu {
    display: none;
    position: absolute;
    background: #000000;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    border-radius: 5px;
    z-index: 10;
    opacity: 0; /* Make it transparent */
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  /* Show dropdown on hover */
  .dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully opaque */
  }
  
  .dropdown-menu li {
    width: 100%;
  }
  
  .dropdown-menu li a {
    padding: 10px;
    display: block;
    color: white;
  }
  
  .dropdown-menu li a:hover {
    background: #000000;
  }